<!-- <h1>YOUR TODOs</h1>
<div class="CreateSection">
    <input placeholder="Enter Task"   type="text" [(ngModel)]="taskTitle">
    <input placeholder="Date"  type="date" [(ngModel)]="taskDate">
    <button (click)="createTask()"  >Create Task</button>
</div>

<div class="ShowSection">
    <ul>
        <li *ngFor= "let task of allTask; let i=index ">
            ID: {{task.id}}  title:{{task.title}}  Date:{{task.date}}
            <button (click)="deleteTask(i)">DELETE</button>
        </li>
    </ul>



</div> -->
<h1  >expense Tracker</h1>

<div>

    <h4> Your Balance is {{totalamount}}</h4>
</div>
<br>

<div class="CreateSection">
    <input placeholder="Enter Discrition"   type="text" [(ngModel)]="taskTitle">
    <input placeholder="Date"  type="date" [(ngModel)]="taskDate">
    <input placeholder="Amount" type="number" [(ngModel)]="amount">
    <label for="type">Type</label>
    <select id="type" [(ngModel)]="type" >
      <option value="income">Income</option>
      <option value="expense">Expense</option>
    </select>




    <button (click)="createTask()"  >Create Task</button>
</div>


<div class="ShowSection">
    
     
    <ul>
        <li *ngFor= "let task of allTask; let i=index ">
            ID: {{task.id}}  title:{{task.title}} type:{{task.type}} Date:{{task.date}} amount={{task.amount}}
            <!-- <button (click)="deleteTask(i)">DELETE</button> -->
        </li>
    </ul>



</div>